{% extends 'mbtbase.html' %}
{% load static %}

{% block title %}Edit Route{% endblock %}

{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
{% endblock %}

<div class="fleet-edit-wrapper">
  <h2>Edit Route</h2>

  {% if is_circular %}

  <p>This route is circular. It will not have inbound and outbound stops.</p>
  {% endif %}

  {% if not has_inbound_stops %}
    <button class="btn" onclick='window.location.href="{% url "add-stops" operatorData.operator_slug routeData.id "inbound" %}"'>Add Inbound Stops</button>
  {% else %}
    <button class="btn" onclick='window.location.href="{% url "edit-stops" operatorData.operator_slug routeData.id "inbound" %}"'>Edit Inbound Stops</button>
  {% endif %}

  {% if not has_outbound_stops %} 
    <button class="btn" style="float: right;" onclick='window.location.href="{% url "add-stops" operatorData.operator_slug routeData.id "outbound" %}"'>Add Outbound Stops</button><br><br>
  {% else %}
    <button class="btn" style="float: right;" onclick='window.location.href="{% url "edit-stops" operatorData.operator_slug routeData.id "outbound" %}"'>Edit Outbound Stops</button><br><br>
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" id="user" name="user" value="{{ userData.0.id }}">
    <input type="hidden" id="operator" name="operator" value="{{ operatorData.id }}">

    <label for="route_number">Route Number:</label>
    <input type="text" id="route_number" name="route_number" value="{{ routeData.route_num }}">

    <label for="route_name">Route Name:</label>
    <input type="text" id="route_name" name="route_name" value="{{ routeData.route_name|default_if_none:'' }}">

    <label for="inbound_destination">Inbound Destination:</label>
    <input type="text" id="inbound_destination" name="inbound_destination" value="{{ routeData.inbound_destination|default_if_none:'' }}">

    <label for="outbound_destination">Outbound Destination:</label>
    <input type="text" id="outbound_destination" name="outbound_destination" value="{{ routeData.outbound_destination|default_if_none:'' }}">
    <small>To make a circular route leave the outbound destination blank.</small>

    <label for="other_destinations">Other Destinations:</label>
    <input type="text" id="other_destinations" name="other_destinations" value="{{ routeData.other_destination|join:', '|default_if_none:'' }}">
    <small>Comma Separated</small>

    <label for="start_date">Start Date:</label>
    <input type="date" name="start_date" id="start_date" value="{{ routeData.start_date|date:'Y-m-d' }}"><br><br>

    <label for="route_text_color">Text Color:</label><br>
    <label for="route_text_color">Enabled</label><input type="checkbox" name="route_text_color_enabled" id="route_text_color_enabled" {% if enable_route_text_colours %}checked{% endif %}><br>
    <input type="color" name="route_text_color" id="route_text_color" value="{{ routeData.route_details.route_text_colour|default_if_none:'#ffffff' }}"><br><br>

    <label for="route_background_color">Background Color:</label><br>
    <label for="route_background_color">Enabled</label><input type="checkbox" name="route_background_color_enabled" id="route_background_color_enabled" {% if enable_route_colours %}checked{% endif %}><br>
    <input type="color" name="route_background_color" id="route_background_color" value="{{ routeData.route_details.route_colour|default_if_none:'#ffffff' }}"> <br><br>
    
    <label for="linkable_routes">Linkable Routes:</label>
    <select id="linkable_routes" name="linkable_routes" multiple>
      {% for route in linkableAndRelatedRoutes %}
        <option value="{{ route.id }}"
          {% if route.id in selectedLinkables %}selected{% endif %}>
          {{ route }}
        </option>
      {% endfor %}
    </select>
    <small>Hold <strong>Ctrl</strong> (or <strong>Cmd</strong> on Mac) to select multiple routes</small>

    <label for="related_routes">Related Routes:</label>
    <select id="related_routes" name="related_routes" multiple>
      {% for route in linkableAndRelatedRoutes %}
        <option value="{{ route.id }}"
          {% if route.id in selectedRelated %}selected{% endif %}>
          {{ route }}
        </option>
      {% endfor %}
    </select>
    <small>Hold <strong>Ctrl</strong> (or <strong>Cmd</strong> on Mac) to select multiple routes</small>

    <label for="route_operators">Route Operators:</label>
    <select id="route_operators" name="route_operators" multiple required>
      {% for operator in allowedOperators %}
        <option value="{{ operator.id }}"
          {% if operator.id in selectedOperators %}selected{% endif %}>
          {{ operator }}
        </option>
      {% endfor %}
    </select>
    <small>Hold <strong>Ctrl</strong> (or <strong>Cmd</strong> on Mac) to select multiple routes</small>

    <label for="payment_methods">Payment Methods:</label>
    <select id="payment_methods" name="payment_methods" multiple size="2">
      {% for method in paymentMethods %}
        <option value="{{ method.id }}"
          {% if method.id|stringformat:"s" in selectedPaymentMethods %}selected{% endif %}>
          {{ method }}
        </option>
      {% endfor %}
    </select>
    <small>Hold <strong>Ctrl</strong> (or <strong>Cmd</strong> on Mac) to select multiple payment methods</small>

    <label for="route_depot">Depot:</label>
    <input type="text" id="route_depot" name="route_depot" value="{{ routeData.route_depot|default_if_none:'' }}">
    <br>

    <label for="school_service">School Service</label>
    <input type="checkbox" id="school_service" name="school_service"
      {% if routeData.route_details.details.school_service == 'true' %}checked{% endif %}><br><br>

      <label for="hidden_service">Hidden</label>
    <input type="checkbox" id="hidden_service" name="hidden_service" {% if routeData.hidden %}checked{% endif %}>
    <small>Hidden services won't appear on the main routes page</small><br>

    <button type="submit" class="btn">Save Changes</button>
    <button type="button" class="btn delete-btn" onclick='window.location.href="{% url "delete-route" operatorData.operator_slug routeData.id %}"'>Delete Route</button>
  </form>
</div>

{% endblock %}
