{% extends 'mbtbase.html' %}
{% load static %}

{% block title %}Select Boards to Mass Edit{% endblock %}

{% block content %}
<h1>Select Boards to Mass Edit</h1>
<form method="post">
  {% csrf_token %}
  <table class="fleet" style="width:100%">
    <thead>
      <tr>
        <th>Select</th>
        <th>Name</th>
        <th>Type</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      {% for b in duties %}
      <tr>
        <td><input type="checkbox" name="selected_duties" value="{{ b.id }}"></td>
        <td>{{ b.duty_name }}</td>
        <td>{{ b.board_type }}</td>
        <td>{% if b.category %}{{ b.category.name }}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <button type="submit" class="btn">Edit Selected</button>
</form>
{% endblock %}
