{% extends "mbtbase.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
{% endblock %}

{% block title %}Ticket{% endblock %}

{% block content %}
<h1>Tickets</h1>

{% if 'Add Tickets' in userPerms or 'owner' in userPerms %}
  <a href="/operator/{{ operator.operator_slug }}/tickets/add/" class="btn">Add Ticket</a>
{% endif %}

<p>All tickets for {{ operator.operator_name }}</p>
<div class="in-page-ad" id="body-ad-1">
  <div class="incontent-ad-container" style="height:100px;">
    <div id="AFM_inContent_ad" style="margin:auto;"></div>
  </div>
</div>
<h2>Zones</h2>
{% for zone in zones %}
<a style="color: var(--text-color)" href="/operator/{{ operator.operator_slug }}/tickets/{{ zone }}/" class="ticket">
  <h3>{{ zone }}</h3>
</a>
{% endfor %}

{% endblock %}