{% extends "mbtbase.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
{% endblock %}

{% block title %}Ticket{% endblock %}

{% block content %}
<h1>Tickets</h1>
<p>All tickets for {{ operator.operator_name }} in Zone: {{ zone }}</p>
<div class="in-page-ad" id="body-ad-1">
  <div class="incontent-ad-container" style="height:100px;">
    <div id="AFM_inContent_ad" style="margin:auto;"></div>
  </div>
</div>
<h2>Tickets</h2>
{% for ticket in tickets %}
<div class="ticket">
    <h3>{{ ticket.ticket_name }}</h3>
    <p class="price">Price: £{{ ticket.ticket_price }}</p><br><br>
    <p>Details: {{ ticket.ticket_details }}</p>
    <p>Zone: {{ ticket.zone }}</p>
    <p class="price"><a href="/operator/{{ operator.operator_slug }}/tickets/edit/{{ ticket.id }}/">Edit</a>{% if user.is_superuser %} • <a style="font-size: 14px;" href="/api-admin/fleet/ticket/{{ ticket.id }}/change/">✎</a>{% endif %}</p>
    {% if ticket.single_use %}
    <p>Single Use</p>
    {% else %}
    <p>Valid for: {{ ticket.valid_for_days }} days</p>
    {% endif %}
</div>
{% endfor %}

{% endblock %}