{% extends 'mbtbase.html' %}
{% load static %}
{% load custom_tags %}
{% load meta_tags %}

{% block extra_meta %}
    {% meta_description "{{ vehicle.operator.operator_name }}: {{ vehicle.vehicle_type_data.type_name }}{{ vehicle.type_details }}" %}
    {% meta_keywords "vehicle, {{ vehicle.fleet_number }}, {{ vehicle.reg }}, {{ vehicle.operator.operator_name }}" %}
    {% meta_title "{{ vehicle.operator.operator_name }} - Fleet List" %}
    {% meta_url "https://www.mybustimes.cc/operator/{{ vehicle.operator.operator_slug }}/vehicles/{{ vehicle.id }}/" %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
<style>
    nav {
    margin: 1em auto;
    overflow: hidden;
    }

    .previous {
    float: left;
    }
    .next {
    float: right;
    }
    .early {
    opacity: 0.5;
    }

    .missed {
        text-decoration: line-through;
        opacity: 0.7;
    }
</style>

{% endblock %}

{% block title %}{{ vehicle.fleet_number }} - {{ vehicle.reg }} - {{ vehicle.operator.operator_name }}{% endblock %}

{% block content %}

{% if vehicle.for_sale == True %}
<div class="for-sale-banner">
    ! I'm For Sale !
</div>
{% endif %}

<div class="fleet-info">
    <h1>
        {% if not vehicle.in_service %}<s>{% endif %}
            {{ vehicle.fleet_number }}
            {% if not vehicle.in_service %}</s>{% endif %}
            {% if vehicle.reg %}
            <span class="reg {% if user.reg_background == True %}reg-bg{% endif %}">{% if not vehicle.in_service %}<s>{% endif %}{{ vehicle.reg }}{% if not vehicle.in_service %}</s>{% endif %}</span>
            {% endif %}
    </h1>
    <div class="livery-cell" style="background: 
  {% if vehicle.colour %}
    {{ vehicle.colour }}
  {% elif vehicle.livery %}
    {{ vehicle.livery.left_css }}
  {% else %}
  {% endif %}
;"></div>

    {% if vehicle.livery and vehicle.livery.name %}
    {{ vehicle.livery.name }}
    {% else %}
    {{ vehicle.branding }}
    {% endif %}

    {% if vehicle.branding and vehicle.livery.name %}
    | {{ vehicle.branding }}
    {% endif %}

    <dl class="contact-details">
        <div>
            <dt>Type</dt>
            <dd>
                {{ vehicle.vehicle_type_data.type_name }}
                {{ vehicle.type_details }}
                {% if vehicle.open_top %} | Open Top{% endif %}
            </dd>
        </div>
        {% if vehicle.prev_reg %}
        <div>
            <dt>Prev Reg</dt>
            <dd>{{ vehicle.prev_reg }}</dd>
        </div>
        {% endif %}
    </dl>

    <dl class="contact-details">
        {% if vehicle.name %}
        <div>
            <dt>Name</dt>
            <dd>{{ vehicle.name }}</dd>
        </div>
        {% endif %}
        {% if vehicle.depot %}
        <div>
            <dt>Depot</dt>
            <dd>{{ vehicle.depot }}</dd>
        </div>
        {% endif %}
        {% if vehicle.length %}
        <div>
            <dt>Length</dt>
            <dd>{{ vehicle.length }}m</dd>
        </div>
        {% endif %}
    </dl>

    <dl class="contact-details">
        {% if vehicle.notes %}
        <div>
            <dt>Notes</dt>
            <dd>{{ vehicle.notes }}</dd>
        </div>
        {% endif %}
    </dl>

    <dl class="contact-details">
        {% if vehicle.features and vehicle.features|length > 0 %}
        <div>
            <dt>Special Features</dt>
            <dd>{{ vehicle.features|join:", " }}</dd>
        </div>
        {% endif %}
    </dl>

    {% if vehicle.advanced_details and vehicle.advanced_details|length > 0 %}
    <button id="toggle_advanced_details">More</button>
    <div id="advanced_details">
        <hr>

        <dl class="contact-details">
            {% for key, value in vehicle.advanced_details.items %}
            <div>
                <dt>{{ key|replace_underscore|title }}</dt>
                <dd>
                    {% if value is boolean %}
                        {% if value %}Yes{% else %}No{% endif %}
                    {% else %}
                        {{ value }}
                    {% endif %}
                </dd>
            </div>
            {% endfor %}
        </dl>
    </div>
    {% endif %}
</div>

<style>
#advanced_details {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const btn = document.getElementById("toggle_advanced_details");
    const details = document.getElementById("advanced_details");

    btn.addEventListener("click", function() {
        if (details.style.maxHeight && details.style.maxHeight !== "0px") {
            // Slide up
            details.style.maxHeight = "0";
            btn.textContent = "More";
        } else {
            // Slide down
            details.style.maxHeight = details.scrollHeight + "px";
            btn.textContent = "Less";
        }
    });
});
</script>


<ul class="horizontal">
    <span>
        {% if 'owner' in helper_permissions or 'Edit Buses' in helper_permissions %}
        <li>
            <a href="/operator/{{ operator.operator_slug }}/vehicle/edit/{{ vehicle.id }}">Edit </a>
        </li> •
        {% endif %}
    </span>
    <span>
        <li><a href="/operator/history?vehicle={{ vehicle.id }}">History</a></li> •
    </span>
    <span>
        <li>
            <a target="_blank" href="{{ vehicle.flickr_link }}">Flickr</a>
        </li>
    </span>
    {% if user.is_superuser %}
    <span>
        • <li><a style="font-size: 14px;" href="/api-admin/fleet/fleet/{{ vehicle.id }}/change/">✎</a></li>
    </span>
    {% endif %}
</ul>

<ul class="horizontal">
    {% if last_trip and not last_trip.trip_ended %}
    <li>
        <a href="/tracking/vehicle/{{ last_trip.tracking_id }}">
            <button>Track Vehicle</button>
        </a>
    </li>
    {% endif %}

    {% if 'owner' in helper_permissions or 'Log Trips' in helper_permissions %}
    <li>
        <a href="log_trip/">
            <button>Log A Trip</button>
        </a>
    </li>
    {% endif %}
</ul>

{% if all_trip_dates %}
    <form method="get" style="margin-bottom: 1em;">
        <select name="date" id="date" onchange="this.form.submit()">
            {% for trip_date in all_trip_dates %}
                <option value="{{ trip_date|date:'Y-m-d' }}" {% if trip_date == selected_date %}selected{% endif %}>
                    {{ trip_date|date:'l j M Y' }}
                </option>
            {% endfor %}
        </select>
    </form>
{% endif %}

</form>

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th scope="col">Route</th>
                <th scope="col" colspan="2">Trip</th>
                <th scope="col">To</th>
                {% if show_board %}
                    <th scope="col"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for trip in trips %}
            <tr id="journey-{{ trip.pk }}" class="{% if trip.trip_missed %}missed{% endif %} {% if trip.trip_start_at > now %}early{% endif %}">
                <td class="link">
                    {% if trip.trip_route.route_num %}
                        <a href="/operator/{{  operator.operator_slug  }}/route/{{ trip.trip_route.id }}/#{{ trip.trip_start_at|date:"H:i" }}">{{ trip.trip_route.route_num }}</a>
                    {% else %}
                        {{ trip.trip_route_num }}
                    {% endif %}
                </td>
                <td class="tabular">{% if trip.trip_display_id %}{{ trip.trip_display_id }}{% else %}{{ trip.pk }}{% endif %}</td>
                <td class="link tabular">
                    {% if trip.trip_route.route_num %}
                        <a href="/operator/{{  operator.operator_slug  }}/route/{{ trip.trip_route.id }}/#{{ trip.trip_start_at|date:"H:i" }}">{{ trip.trip_start_at|date:"H:i" }}</a>
                    {% else %}
                        {{ trip.trip_start_at|date:"H:i" }}
                    {% endif %}
                </td>
                <td>{{ trip.trip_end_location }}</td>
                {% if show_board %}
                    {% if trip.trip_board.board_type == "duty" %}
                        <td><a href="/operator/{{ operator.operator_slug }}/duty/{{ trip.trip_board.id }}/">{{ trip.trip_board.duty_name }}</a></td>
                    {% elif trip.trip_board.board_type == "running-boards" %}
                        <td><a href="/operator/{{ operator.operator_slug }}/running-boards/{{ trip.trip_board.id }}/">{{ trip.trip_board.duty_name }}</a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endif %}
                <td class="link">
                    <a href="/map/trip/{{ trip.trip_id }}">Map</a>
                </td>
                {% if 'owner' in helper_permissions or 'Edit Trips' in helper_permissions %}
                <td><a href="/operator/{{  operator.operator_slug  }}/vehicles/{{ vehicle.id }}/trips/manage/?date={{ selected_date|date:'Y-m-d' }}">Edit</a></td>
                {% endif %}
                {% if user.is_superuser %}<td><a style="font-size: 14px;" href="/api-admin/tracking/trip/{{ trip.trip_id }}/change/">✎</a></td>{% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No trips found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav>
    {% if vehicle.previous_vehicle %}
    <p class="previous">
        <a href="{{ vehicle.previous_vehicle.link }}">← {{ vehicle.previous_vehicle.display }}</a>
    </p>
    {% endif %}
    {% if vehicle.next_vehicle %}
    <p class="next">
        <a href="{{ vehicle.next_vehicle.link }}">{{ vehicle.next_vehicle.display }} →</a>
    </p>
    {% endif %}
</nav>

{% endblock %}