{% extends 'mbtbase.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
{% endblock %}

{% block title %}
429 - Too Many Requests
{% endblock %}

{% block content %}
<div class="error-message">
    <h1>429 - Too Many Requests</h1>
    <p>You have made too many requests in a short period of time. Please try again later.</p>
</div>
<div class="homeSearch">
  <form action="/search">
    <input type="search" name="q" id="q" placeholder="Search">
    <input type="submit" value="Search">
  </form>
</div><br>
<div class="navigation-links">
    <a href="/">Return to Home</a>
</div>  
<div class="in-page-ad" id="body-ad-1">
  <div class="incontent-ad-container" style="height:100px;">
    <div id="AFM_inContent_ad" style="margin:auto;"></div>
  </div>
</div>
{% endblock %}