{% extends "mbtbase.html" %} 

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/narrow.css' %}">
{% endblock %}

{% block title %}Link Discord Account{% endblock %}

{% block content %}
{% if error == "success" %}

<h2>Discord account linked successfully.</h2>
<p>Your Discord account has been linked to your MyBusTimes profile.</p>
<a href="/">Go Home</a>
{% else %}
<h2>Oops, something went wrong.</h2>
<p>Please try again later.</p>
{% endif %}
{% endblock %}