{% extends 'mbtbase.html' %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
<style>
    .online-indicator {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #30b73e;
      border: 2px solid var(--background-color);
      margin-left: -20px;
      margin-top: -30px;
    }

    .badge {
        text-wrap: nowrap;
        word-break: keep-all;
        white-space: nowrap;
    }

    @media (max-width: 45.5em) {
        .user-info-name p{
            width: 100% !important;
        }
    }
</style>
{% endblock %}

{% block title %}{{ profile_user.username }}{% endblock %}

{% block content %}

<div class="pfp-banner">
    <div class="banner">
        <img src="https://cdn.mybustimes.cc/mybustimes/media/{{ profile_user.banner }}" alt="" onerror="this.src='https://cdn.mybustimes.cc/mybustimes/media/images/default_banner.png'">
    </div>
    <div class="pfp">
        <img src="https://cdn.mybustimes.cc/mybustimes/media/{{ profile_user.pfp }}" alt="" onerror="this.src='https://cdn.mybustimes.cc/mybustimes/media/images/default_profile_pic.png'">
    </div>
    <div class="user-info">
        <div class="user-info-name">
            <h1>
                {{ profile_user.username }}
            </h1>
            {% if profile_user.mbt_team.name == "Leadership Team" or profile_user.is_superuser %}
                <p style="color:lightblue; width: 0;text-wrap: nowrap;margin-top: 0;margin-bottom: 0;">
                    <strong>MBT | Leadership Team</strong> </p>
            {% endif %}
            {% if profile_user.is_staff %}
            <p style="color:orangered;width: 0;text-wrap: nowrap;margin-top: 0;margin-bottom: 0px;"><strong>MBT | Official Staff Member</strong></p>
            {% endif %}
            {% if profile_user.discord_username %}
            <p style="width: 0;text-wrap: nowrap;margin-top: 0;"><strong>Discord Username:</strong> {{ profile_user.discord_username }}</p>
            {% endif %}
            <small style="margin-top: 0;">Joined: 
                {% if profile_user.join_date|date:"d/m/Y" == "22/08/2024" %}
                    before the beginning of time
                {% elif profile_user.join_date %}
                    {{ profile_user.join_date|date:"F j, Y" }}
                {% else %}
                    before the beginning of time
                {% endif %}
            </small>
        </div>
        <div id="user-options">
        </div>
    </div>
    {{ userData.badges|json_script:"user_badges" }}
    <div class="badges">
        {% if profile_user.badges %}
        <ul>
            {% if profile_user.ad_free_until and profile_user..ad_free_until > now%}
                <li class="badge" style="background: #22a1a1; color: #ffffff; box-shadow: 0 0 7px 0px #64bbbbab;">Supporter</li>
            {% endif %}
            {% for badge in profile_user.badges.all %}
            <li class="badge"
                style="background: {{ badge.badge_backgroud }}; color: {{ badge.badge_text_color }}; {{ badge.additional_css }}">
                {{ badge.badge_name }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <ul>

        </ul>
        {% endif %}
    </div>
</div>
<div class="ad-box user-profile-ad" id="body-ad-1"></div>
<div class="flex-wrapper">
    <div class="flex-wrapper-left">
        <div class="all-operator-data">
            <div class="operator-data">
                <span class="operator-data-title user-description-tags">
                    <h2>Operators</h2>{% if owner %}<small><a href="/operator/create/">Create New</a></small>{% endif %}
                </span>
                {% if operators %}
                <div class="table-wrapper operator-data-table">
                    <table class="user-operators" border="0" cellpadding="10" cellspacing="0">
                        <thead>
                            <tr>
                                <th colspan="2">Operators</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for operator in operators %}
                            <tr>
                                <td class="operator-name">
                                    <a href="/operator/{{ operator.operator_slug }}">{{ operator.operator_name }}</a>
                                </td>
                                {% if owner %}
                                <td><a href="/operator/{{ operator.operator_slug }}/edit/">Edit</a></td>
                                {% else %}
                                <td><a href="/operator/{{ operator.operator_slug }}">{{ operator.operator_code }}</a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p>No operator data found</p>
                {% endif %}
            </div>
            <div class="group-data">
                <span class="operator-data-title user-description-tags">
                    <h2>Owned Groups</h2>{% if owner %}<small><a href="/group/create/">Create New Group</a></small>{% endif %}
                </span>
                {% if groups %}
                <div class="table-wrapper operator-data-table">
                    <table class="user-groups user-operators" border="0" cellpadding="10" cellspacing="0">
                        <thead>
                            <tr>
                                <th colspan="2">Groups</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for group in groups %}
                            <tr>
                                <td class="operator-name">
                                <a href="/group/{{ group.group_name }}/">{{ group.group_name }}</a>
                                </td>
                                {% if owner %}
                                <td><a href="/group/{{ group.group_name }}/edit/">Edit</a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p>No Group data found</p>
                {% endif %}
            </div>
            <div class="in-page-ad" id="body-ad-1">
                <div class="incontent-ad-container" style="height:100px;">
                    <div id="AFM_inContent_ad" style="margin:auto;"></div>
                </div>
            </div>
            <div class="operator-data">
                {% if helper_operators_list %}
                <h2 class="operator-data-title user-description-tags">Helper Operators</h2>
                <div class="table-wrapper operator-data-table">
                    <table class="user-operators" border="0" cellpadding="10" cellspacing="0">
                        <thead>
                            <tr>
                                <th colspan="2">Operators</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for operator in helper_operators_list %}
                            <tr>
                                <td class="operator-name">
                                    <a href="/operator/{{ operator.operator_slug }}">{{ operator.operator_name }}</a>
                                </td>
                                {% if owner %}
                                <td><a href="/operator/{{ operator.operator_slug }}/edit/">Edit</a></td>
                                {% else %}
                                <td><a href="/operator/{{ operator.operator_slug }}">{{ operator.operator_code }}</a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="flex-wrapper-right">
        <div class="history-data">
            <h2 class="user-description-tags">Recent Edits</h2>
            <div class="history-data-wrapper">
                {% if user_edits %}
                <ul class="change-list">
                    {% for change in user_edits %}
                    {% if forloop.counter == 6 %}
                    <div class="in-page-ad" id="body-ad-1">
  <div class="incontent-ad-container" style="height:100px;">
    <div id="AFM_inContent_ad" style="margin:auto;"></div>
  </div>
</div>
                    {% endif %}
                    <li class="change-record">
                        <a
                            href="/operator/{{ change.vehicle.operator.operator_slug }}/vehicles/{{ change.vehicle.id }}/">{{ change.vehicle.fleet_number }}
                            - {{ change.vehicle.reg }}</a> {{ change.create_at|timesince }} ago

                        {% if change.user %}
                        <a href="#{{ change.user.username }}">{{ change.user.username }}</a>
                        {% else %}
                        Unknown
                        {% endif %}

                        <br>
                        <ul>
                            {% if change.livery_name_from or change.livery_name_to %}
                            <li>
                                <strong>Livery:</strong>
                                from {{ change.livery_name_from|default:"No Livery" }}
                                <span class="livery-cell"
                                    style="background: {{ change.livery_css_from|default:change.colour_from }};"></span>
                                to {{ change.livery_name_to|default:"No Livery" }}
                                <span class="livery-cell"
                                    style="background: {{ change.livery_css_to|default:change.colour_to }}; "></span>
                            </li>
                            {% endif %}
                            {% for item in change.parsed_changes %}
                            {# Skip livery_name, livery_css, and colour because livery name shown above #}
                            {% if item.item != "livery_name" and item.item != "livery_css" and item.item != "colour" %}
                            {% if item.item == "features" %}
                            <li>
                                <strong>{{ item.item|replace_underscore }}:</strong>
                                from <em>{{ item.from|json_to_text }}</em> to <em>{{ item.to|json_to_text }}</em>
                            </li>
                            {% else %}
                            <li>
                                <strong>{{ item.item|replace_underscore }}:</strong>
                                from <em>{{ item.from }}</em> to <em>{{ item.to }}</em>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% empty %}
                            <li>No changes recorded</li>
                            {% endfor %}
                        </ul><br>

                        {% if change.message %}
                        <strong>Message:</strong> {{ change.message }}<br>
                        {% endif %}

                        {% if change.disapproved_reason %}
                        <strong>Disapproved Reason:</strong> {{ change.disapproved_reason }}<br>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No change records found.</p>
                {% endif %}
            </div>
        </div>
    </div>

</div>


<script>
    let username = "{{ user.username }}"; // Username from the backend

    let currentUser = "{{ profile_user.username }}"; // User from the backend

    if (username) {
        // Check if the logged-in user matches the profile being viewed
        if (username === currentUser) {
            document.getElementById("user-options").innerHTML =
                '<span>&nbsp<a href="/u/TicketerCode">Ticketer Code</a>&nbsp|&nbsp<a href="/u/{{ profile_user.username }}/liveries">My Liveries</a>&nbsp|&nbsp<a href="/u/settings">Settings</a></span>';
        } else {
            document.getElementById("user-options").innerHTML =
                '<span>&nbsp<a href="/report?user=' + currentUser + '">Report</a></span>';
        }
    } else {
        document.getElementById("user-options").innerHTML =
            '<span>&nbsp<a href="/report?user=' + currentUser + '">Report</a></span>';
    }
</script>


{% endblock %}
