{% extends 'mbtbase.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Register</h2>

<form method="post" class="fleet-edit-wrapper">
    {% csrf_token %}
    
    {{ form.non_field_errors }}

    <div>
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.help_text %}
            <small>{{ form.username.help_text }}</small>
        {% endif %}
        {% for error in form.username.errors %}
            <div style="color: red;">{{ error }}</div><br>
        {% endfor %}
    </div>

    <div>
        {{ form.email.label_tag }}
        {{ form.email }}
        {% for error in form.email.errors %}
            <div style="color: red;">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {% if form.password1.help_text %}
            <small>{{ form.password1.help_text|safe }}</small>
        {% endif %}
        {% for error in form.password1.errors %}
            <div style="color: red;">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {% for error in form.password2.errors %}
            <div style="color: red;">{{ error }}</div>
        {% endfor %}
    </div>
    <input type="checkbox" id="terms" name="terms" required><label for="terms" style="font-size: 14px;">By registering, you agree to all rules, policies, and terms as stated on the <a href="/rules/">Terms of Service page</a>.</label><br><br>
    <div class="cf-turnstile" data-sitekey="{{ CF_SITE_KEY }}" data-theme="{% if themeDark == 'True' %}dark{% else %}light{% endif %}"></div>
    <button type="submit" data-umami-event="Signup button">Register</button>
</form>

<p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
<p>Forgot your password? <a href="{% url 'password_reset' %}">Reset it here</a>.</p>
{% endblock %}