{% extends "mbtbase.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/narrow.css' %}">
{% endblock %}

{% block title %}Subscribe{% endblock %}

{% block content %}

{% if ads_enabled %}
<h2 class="section-title">Go Ad-Free</h2>
<p class="subtitle">Enjoy MyBusTimes distraction-free. Faster, cleaner, and built for the community - with your support</p>

<div class="adfree-benefits">
    <ul>
        <li>✅ No ads</li>
        <li>⚡ Faster page loads</li>
        <li>🛠 Support MBT development</li>
        <li>🔒 No tracking or ad cookies</li>
    </ul>
</div>

{% if error_message %}
    <div class="error" style="color: red; margin-bottom: 1rem;">{{ error_message }}</div>
{% endif %}

<div class="subscription-options">
    {% include 'stripe/pricing_table.html' %}
    <br>
    <p style="text-align: center;">Join {{ current_sub_count }} other members in supporting MyBusTimes!</p>
    <a style="text-align: center;width: 100%;display: block;" href="https://www.mybustimes.cc/climate">🌱 Our climate promise</a>

    {% if themeDark %}
        <img src="{% static 'src/icons/secure-white.png' %}" alt="Pay with PayPal" style="max-height: 100px; margin: 0 auto;display: block;width: 100%;object-fit: contain;">
    {% else %}
        <img src="{% static 'src/icons/secure-black.png' %}" alt="Pay with PayPal" style="max-height: 100px; margin: 0 auto;display: block;width: 100%;object-fit: contain;">
    {% endif %}
</div>
<br>

<div class="note">
    <p>You’re directly helping keep MyBusTimes fast and focused on buses – not ads.</p>
</div>
{% else %}
<h2>Looks like you're already subscribed! Thank you.</h2>
<a href="{{ STRIPE_BILLING_PORTAL_URL }}">Cancel anytime</a>
{% endif %}
<script>
    function updateTotal(groupId) {
        const dropdown = document.getElementById('custom_months_' + groupId);
        const pricePerMonth = 1;
        const total = pricePerMonth * parseInt(dropdown.value);
        document.getElementById('total_price_' + groupId).innerText = `£${total.toFixed(2)}`;
    }

    // Initialize totals on load
    document.addEventListener("DOMContentLoaded", function () {
        updateTotal('1');
        updateTotal('2');
    });
</script>
{% endblock %}
