{% extends "mbtbase.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/narrow.css' %}">
{% endblock %}

{% block title %}Subscribe{% endblock %}

{% block content %}

<h2 class="section-title">Support MyBusTimes</h2>
<p class="subtitle">Choose a plan that works for you. Faster, cleaner, and built for the community - with your support</p>

{% if error_message %}
    <div class="error" style="color: red; margin-bottom: 1rem;">{{ error_message }}</div>
{% endif %}

<div class="warning">
    <strong>Note for existing subscribers:</strong><br>
    If you upgrade to <strong>Pro</strong>, please open a support ticket or email
    <a href="mailto:support@mybustimes.cc">support@mybustimes.cc</a>.
    There is currently a known issue where Pro is not automatically added to your account,
    so it needs to be applied manually. <br><br>
    We apologize for the inconvenience and are working to resolve this issue.
</div>

<style>
    .warning {
    background-color: #fff4e5;
    border-left: 4px solid #f59e0b;
    padding: 12px 16px;
    margin: 16px 0;
    border-radius: 6px;
    color: #92400e;
    font-size: 0.95rem;
}

.warning strong {
    color: #78350f;
}

.warning a {
    color: #92400e;
    font-weight: 600;
    text-decoration: underline;
}

.warning a:hover {
    text-decoration: none;
}

</style>

<div class="subscription-options">
    {% include 'stripe/pricing_table.html' %}
    {% if user.is_authenticated and user.has_active_subscription %}
    <a style="text-align: center; display: block;" href="{{ STRIPE_BILLING_PORTAL_URL }}">Update or cancel anytime</a>
    {% endif %}
    <br>
    <p style="text-align: center;">Join {{ current_sub_count }} other members in supporting MyBusTimes!</p>
    <a style="text-align: center;width: 100%;display: block;" href="https://www.mybustimes.cc/climate">🌱 Our climate promise</a>

    {% if themeDark %}
        <img src="{% static 'src/icons/secure-white.png' %}" alt="Pay with PayPal" style="max-height: 100px; margin: 0 auto;display: block;width: 100%;object-fit: contain;">
    {% else %}
        <img src="{% static 'src/icons/secure-black.png' %}" alt="Pay with PayPal" style="max-height: 100px; margin: 0 auto;display: block;width: 100%;object-fit: contain;">
    {% endif %}

    <div>
        <h4>Snap-to-Road Availability</h4>
        <p>
            Snap-to-road currently works in Europe only.
            To check whether a specific location is supported,
            please refer to the coverage map or the country list on <a href="https://download.geofabrik.de/europe.html">this page</a>.
        </p>
    </div>
</div>
<br>

<div class="note">
    <p>You’re directly helping keep MyBusTimes fast and focused on buses – not ads.</p>
</div>

{% endblock %}
