{% extends "mbtbase.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/narrow.css' %}">
  <style>
    .price_group h4 {
        margin-top: -30px;
        display: block ruby;
        margin-bottom: -7px;
    }
    .price_group h4 small {
        font-size: 0.6em;
        opacity: 0.7;
    }
    .cancel-anytime {
        margin-top: 0;
        margin-bottom: 0;
    }
    .best-value {
        background: #2ecc71;
        color: white;
        font-size: 0.75rem;
        padding: 3px 6px;
        border-radius: 6px;
        margin-bottom: 5px;
        display: inline-block;
    }

    :root {
        --background-color: #fff;
        --text-color: #222;
    }
  </style>
{% endblock %}

{% block title %}Subscribe{% endblock %}

{% block content %}

{% if ads_enabled %}
<h2 class="section-title">Go Ad-Free</h2>
<p class="subtitle">Enjoy MyBusTimes distraction-free. Faster, cleaner, and built for the community - with your support</p>

<div class="adfree-benefits">
    <ul>
        <li>✅ No ads</li>
        <li>⚡ Faster page loads</li>
        <li>🛠 Support MBT development</li>
        <li>🔒 No tracking or ad cookies</li>
    </ul>
</div>

{% if error_message %}
    <div class="error" style="color: red; margin-bottom: 1rem;">{{ error_message }}</div>
{% endif %}

<div class="subscription-options">
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <stripe-pricing-table pricing-table-id="prctbl_1SSKrGEo24QE6dJiPjLcEuZt"
    publishable-key="pk_live_51RUrCVEo24QE6dJiEvre4Yvdrk0CNzznpfUJxmD8J0yi4a3cGzmI1uh9WltGv60onJ9CS3yO3TbuxJwg8Hij7BKt005P2OgFu5">
    </stripe-pricing-table>
    <br>
    <p style="text-align: center;">Join {{ current_sub_count }} other members in supporting MyBusTimes!</p>
    <a style="text-align: center;width: 100%;display: block;" href="https://www.mybustimes.cc/climate">🌱 Our climate promise</a>

        <img src="{% static 'src/icons/secure-black.png' %}" alt="Pay with PayPal" style="max-height: 100px; margin: 0 auto;display: block;width: 100%;object-fit: contain;">
</div>
<br>

<div class="note">
    <p>You’re directly helping keep MyBusTimes fast and focused on buses – not ads.</p>
</div>
{% else %}
<h2>Looks like you're already subscribed! Thank you.</h2>
<a href="{{ STRIPE_BILLING_PORTAL_URL }}">Cancel anytime</a>
{% endif %}
<script>
    function updateTotal(groupId) {
        const dropdown = document.getElementById('custom_months_' + groupId);
        const pricePerMonth = 1;
        const total = pricePerMonth * parseInt(dropdown.value);
        document.getElementById('total_price_' + groupId).innerText = `£${total.toFixed(2)}`;
    }

    // Initialize totals on load
    document.addEventListener("DOMContentLoaded", function () {
        updateTotal('1');
        updateTotal('2');
    });
</script>
{% endblock %}
