:root {
  --brand-color: #D5303D;
  --brand-color-darker: #ae2d37ad;
  --brand-color-darker-darker: #A9091A;
  --border-color: var(--brand-color-darker);
  --border-color-darker: var(--brand-color-darker-darker);
  --background-color: #d1d1d1;
  --text-color: #000000;
  --link-color: #A9091A;
  --viewed-color: #A44A4A;
  --header-image: url('https://raw.githubusercontent.com/NextStopLabs/MBT-Media-Kit/refs/heads/main/MBT%20Poppy%20Theme%20Asset%20Pack/Banner.svg') 0% center / cover no-repeat;
}