{# templates/partials/tabs.html #}
<style>
  .chips {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 150px));
    gap: 0.5em;
    padding: 0.25em 0;
    list-style: none;
    margin: 0;
  }

  @media (max-width: 725px) {
    .chips {
      grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    }
  }
</style>

{% if helper_permissions %}
<p style="margin-bottom: 0;"><strong>Company Actions</strong></p>
{% endif %}
<div>
  {% for tab in tabs %}
    {% if tab.active and "vehicles" in tab.name %}
      <div class="vehicles">
        <ul class="chips">
          {% if 'owner' in helper_permissions or 'Add Buses' in helper_permissions %}
          <li class="chip"><a href="/operator/{{ operator.operator_slug }}/vehicles/add-bus">Add Buses</a></li>
          {% endif %}
          {% if 'owner' in helper_permissions or 'Mass Add Buses' in helper_permissions %}
          <li class="chip"><a href="/operator/{{ operator.operator_slug }}/vehicles/mass-add-bus">Mass Add</a></li>
          {% endif %}
          {% if 'owner' in helper_permissions or 'Mass Edit Buses' in helper_permissions %}
          <li class="chip"><a href="/operator/{{ operator.operator_slug }}/vehicles/select-mass-edit-bus">Mass Edit</a></li>
          {% endif %}
          {% if 'owner' in helper_permissions or 'Mass Log Trips' in helper_permissions %}
          <li class="chip"><a href="/operator/{{ operator.operator_slug }}/vehicles/mass-log-trips">Mass Log Trips</a></li>
          {% endif %}
          {% if 'owner' in helper_permissions %}
          <li class="chip"><a href="/operator/{{ operator.operator_slug }}/vehicles/dedupe">Deduplicate Fleet</a></li>
          {% endif %}
          {% if user.is_superuser %}
          <li class="chip"><a href="/tracking/{{ operator.operator_slug }}/start/">Test Live Tracking</a></li>
          {% endif %}
          {% if 'owner' in helper_permissions %}
          <li class="chip"><a href="#" onclick="printTable()">Print Fleet</a></li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  {% endfor %}
  {% for tab in tabs %}
    {% if tab.active and "routes" in tab.name %}
      <div class="vehicles">
        <ul class="chips">
          {% if 'owner' in helper_permissions or 'Add Routes' in helper_permissions %}
          <li class="chip"><a href="/operator/{{ operator.operator_slug }}/add-route/">Add Routes</a></li>
          {% endif %}
          {% if 'owner' in helper_permissions %}
          <li class="chip"><a href="/operator/{{ operator.operator_slug }}/routes/dedupe">Deduplicate Routes</a></li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  {% endfor %}

  <ul class="chips">
    {% if 'owner' in helper_permissions or 'Add Duties' in helper_permissions %}
    <li class="chip"><a href="/operator/{{ operator.operator_slug }}/duties/">Duties</a></li>
    {% endif %}
    {% if 'owner' in helper_permissions or 'Add Running Boards' in helper_permissions %}
    <li class="chip"><a href="/operator/{{ operator.operator_slug }}/running-boards/">Running Boards</a></li>
    {% endif %}
    {% if 'owner' in helper_permissions or 'Add Tickets' in helper_permissions %}
    <li class="chip"><a href="/operator/{{ operator.operator_slug }}/tickets/">Tickets</a></li>
    {% endif %}
    {% if 'owner' in helper_permissions or 'Add Updates' in helper_permissions %}
    <li class="chip"><a href="/operator/{{ operator.operator_slug }}/updates/">Updates</a></li>
    {% endif %}
    {% if 'owner' in helper_permissions %}
    <li class="chip"><a href="/operator/{{ operator.operator_slug }}/helpers/">Helper</a></li>
    {% endif %}
  </ul>
</div>

<ul class="tabs">
  {% for tab in tabs %}
  <li class="{% if tab.active %}active{% endif %}">
    {% if tab.active %}
    {{ tab.name }}
    {% else %}
    <a href="{{ tab.url }}" id="{{ tab.name }}">{{ tab.name }}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
