{% extends 'mbtbase.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/wide.css' %}">
<style>
  code {
    padding: 5px 15px;
    background: #00000042;
    border-radius: 5px;
  }

  .tag {
    background: #8888887d;
    padding: 5px 10px;
    border-radius: 10px;
  }
</style>
<meta name="description" content="{{ page.title }}">
<meta name="keywords" content="{% for tag in page.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.title }}">
<meta property="og:type" content="website">
{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>
<div class="incontent-ad-container in-page-ad" style="height:100px;">
    <div id="AFM_inContent_ad" style="margin:auto;"></div>
  </div>
{% for tag in page.tags.all %}
  <span class="tag">{{ tag.name }}</span>
{% endfor %}

<div>
    {{ content_html|safe }}
</div>

<p><small>Last updated: {{ page.updated_at }}</small></p>
{% if user.is_authenticated %}
  <a href="{% url 'edit_wiki_page' slug=page.slug %}">✏️ Edit this page</a>
{% endif %}

{% endblock %}
