{% extends 'mbtbase.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
{% endblock %}

{% block title %}Wiki Home{% endblock %}


{% block content %}
<h1>Wiki Home</h1>

<form method="get" action="">
    <input type="text" name="q" placeholder="Search wiki..." value="{{ query }}">
    <button type="submit">Search</button>
</form>
<br>
<button onclick='window.location.href="{% url 'create_wiki_page' %}"'>
    Add New Page
</button>

{% if request.user.is_authenticated and request.user.is_staff %}
<button onclick='window.location.href="{% url 'pending_pages' %}"'>
    Pending Updates
</button>
{% endif %}
<div class="in-page-ad" id="body-ad-1">
  <div class="incontent-ad-container" style="height:100px;">
    <div id="AFM_inContent_ad" style="margin:auto;"></div>
  </div>
</div>
<hr>

{% if pages %}
<ul>
    {% for page in pages %}
        <li><a href="{% url 'wiki_detail' slug=page.slug %}">{{ page.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No pages found.</p>
{% endif %}

{% endblock %}
