{% extends 'mbtbase.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Create a New Group</h2>
    <form method="post" class="fleet-edit-wrapper">
        {% csrf_token %}
        <div class="form-group">
            <label for="group_name">Group Name:</label>
            <input type="text" id="group_name" name="group_name" class="form-control" required>
        </div><br>

        <div class="form-group">
            <label for="order_by">Order Fleet By:</label>
            <select id="order_by" name="order_by" class="form-control">
                {% for choice in order_by_choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
            <small class="create-link">Select how the fleet should be ordered within the group.</small>
        </div>

        <br>

        <div class="form-check">
            <label>Public groups can be joined by anyone.</label><br>
            <input type="checkbox" id="private" name="private" class="form-check-input" checked>
            <label for="private" class="form-check-label">Make this group private</label>
        </div><br>

        <button type="submit" class="btn btn-primary mt-3">Create Group</button>
    </form>
</div>
{% endblock %}
