{% for livery in page_obj %}
<tr {% if livery.published == False %}class="table-danger" role="danger" {% endif %}>
    <td>{{ livery.name }}</td>
    <td class="round-livery-cell-table">
        <div class="round-livery-cell" style="background: {{ livery.colour }};"></div>
    </td>

    <td>
        <svg width="48" height="32" class="vehicle-marker" style="stroke: {{ livery.stroke_colour }}; text-align: center; background: {{ livery.left_css }}; border: 1px solid rgba(0,0,0); color: {{ livery.text_colour }}; fill: {{ livery.text_colour }}; stroke-width: 3px; ">
            <text style="font-size: 18px;" x="22" y="22">888</text>
        </svg>
    </td>

    <td>
        <svg width="48" height="32" class="vehicle-marker" style="stroke: {{ livery.stroke_colour }}; text-align: center; background: {{ livery.right_css }}; border: 1px solid rgba(0,0,0); color: {{ livery.text_colour }}; fill: {{ livery.text_colour }}; stroke-width: 3px; ">
            <text style="font-size: 18px;" x="22" y="22">888</text>
        </svg>
    </td>

    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>{{ livery.added_by }}</td>
    {% if livery.published %}
    <td></td>
    <td>
        <a href="{% url 'edit-livery' livery.id %}?page={{ page_obj.number }}" class="btn btn-primary">Edit</a>
        <a href="{% url 'delete-livery' livery.id %}?page={{ page_obj.number }}" class="btn btn-danger">Delete</a>
    </td>
    {% else %}
    <td>
        <a href="{% url 'publish-livery' livery.id %}?page={{ page_obj.number }}" class="btn btn-success">Publish</a>
    </td>
    <td>
        <a href="{% url 'edit-livery' livery.id %}?page={{ page_obj.number }}" class="btn btn-primary">Edit</a>
        <a href="{% url 'delete-livery' livery.id %}?page={{ page_obj.number }}" class="btn btn-danger">Delete</a>
    </td>
    {% endif %}
</tr>
{% endfor %}