:root {
    --brand-color: #46738e;
    --brand-color-darker: #3a5d73;
    --brand-color-darker-darker: #46738e;
    
    --border-color: var(--brand-color-darker);
    --border-color-darker: var(--brand-color-darker-darker);
    
    --background-color: #222;
    
    --text-color: #ffffff;
    --link-color: #aacfff;
    --viewed-color: #2e4755;

    --header-image: url('https://cdn.mybustimes.cc/assets/main/Banner.svg') 0% center / cover no-repeat;
}