:root {
    --brand-color: #8cb9d5;
    --brand-color-darker: #84bcec;
    --brand-color-darker-darker: #7cb5e7;
    
    --border-color: var(--brand-color-darker);
    --border-color-darker: var(--brand-color-darker-darker);
    
    --background-color: #eee;
    
    --text-color: #000;
    --link-color: #3b42a2;
    --viewed-color: #84aec8;

    --header-image: url('https://cdn.mybustimes.cc/assets/main/Banner.svg') 0% center / cover no-repeat;
}