<style>
    body {
        accent-color: var(--border-color-darker);
        margin: 0;
    }

    @media (max-width: 45.5em) {
        main {
            margin: 55px auto;
            width: calc(100% - 1em);
            padding: 0;
            padding: 0 0.5em;
        }
    }

    .breadcrumbs {
        margin-bottom: -10px;
    }

    .messages {
        display: flex;
        justify-content: center;
        transition: opacity 1s ease;
    }

    .site-header nav {
        top: 1px;
    }

    .messages.fade-out {
        opacity: 0;
    }

    .alert {
        padding: 10px;
        margin: 10px;
        border-radius: 4px;
        font-weight: bold;
        position: fixed;
        z-index: 1000;
    }

    .alert-success {
        background: #d4edda;
        color: #155724;
    }

    .alert-error,
    .alert-danger {
        background: #f8d7da;
        color: #721c24;
    }

    .alert-warning {
        background: #fff3cd;
        color: #856404;
    }

    .alert-info {
        background: #cce5ff;
        color: #004085;
    }

    .remove-ads {
        text-align: center;
        margin: 15px 0;
    }

    .remove-ads a {
        color: var(--link-color);
        text-decoration: none;
    }

    .remove-ads a:hover {
        text-decoration: underline;
    }

    .ad-div {
        border: 1px solid var(--border-color);
        width: calc(100% - 2px);
        background-color: white;
        padding: 5px 0px;
    }

    .ad-box {
        border: none;
        overflow: hidden;
    }
</style>