{% extends 'adminbase.html' %}

{% block title %}Admin Site Links Directory{% endblock %}

{% block content %}
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Website Name</th>
            <th>Website Managed By</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>MyBusTimes</td>
            <td>MBT Development Team</td>
            <td><a href="https://mybustimes.cc" target="_blank">https://mybustimes.cc</a></td>
        </tr>
        <tr>
            <td>UKBuses</td>
            <td>Brooklyn</td>
            <td><a href="https://ukbuses.org" target="_blank">https://ukbuses.org</a></td>
        </tr>
         <tr>
            <td>Spotted</td>
            <td>Kai</td>
            <td><a href="https://spotted.mybustimes.cc" target="_blank">https://spotted.mybustimes.cc</a></td>
        </tr>
        <tr>
            <td>taskboard</td>
            <td>Brooklyn</td>
            <td><a href="https://taskboard.mybustimes.cc" target="_blank">https://taskboard.mybustimes.cc</a></td>
        </tr>
        <tr>
            <td>MBT Mail</td>
            <td>Hayden</td>
            <td><a href="https://mail.mybustimes.cc" target="_blank">https://mail.mybustimes.cc</a></td>
        </tr>
        <tr>
            <td>Bus Gooo BRRRRRR</td>
            <td>Bonnie</td>
            <td><a href="https://www.mybustimes.cc/a/transportthing" target="_blank"> Bus Goooo BRRRRRRRRRRRRRRRRR</a></td>
        </tr>
    </tbody>
</table>        
{% endblock %}
