<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} - MyBusTimes Admin{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminstyle.css' %}">
    <link rel="icon" type="image/png"
        href="{% static 'src/icons/favicon/favicon-96x96.png' %}"
        sizes="96x96" />
    <link rel="icon" type="image/svg+xml"
        href="{% static 'src/icons/favicon/favicon.svg' %}" />
    <link rel="shortcut icon"
        href="{% static 'src/icons/favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180"
        href="{% static 'src/icons/favicon/apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="MyBusTimes" />
    <link rel="manifest"
        href="{% static 'src/icons/favicon/site.webmanifest' %}" />
</head>
<body>
    <div class="container">
        <header>
            <h1>MyBusTimes</h1>
        </header>
        <sidebar>
            <button class="toggle-btn" id="toggle-btn">Menu</button>
            <nav>
                <a href="{% url 'dashboard' %}">Home</a>
                <a href="{% url 'applications-management' %}">Applications</a>
                <a href="{% url 'users-management' %}">Users</a>
                <a href="{% url 'ads-management' %}">Ads</a> 
                <a href="{% url 'feature-toggles-management' %}">Feature Toggles</a>
                <a href="{% url 'livery-management' %}">Liveries</a>
                <a href="{% url 'vehicle-management' %}">Vehicles</a>
                <a href="{% url 'user_activity_view' %}">Logs</a>
                <a href="/api-admin">API Admin</a>
                <a href="{% url 'admin-site-links' %}">Admin Site Directory</a>
            </nav>
        </sidebar>
        <main>
            {% block content %}
            <!-- Default content can go here -->
            {% endblock %}
        </main>
    </div>

    <script>
        // JavaScript to toggle the sidebar on mobile
        const toggleButton = document.getElementById('toggle-btn');
        const sidebar = document.querySelector('sidebar');
        
        toggleButton.addEventListener('click', () => {
            sidebar.classList.toggle('open');
        });
    </script>
</body>
</html>
