{% extends 'adminbase.html' %}

{% block content %}
<h1>User Activity Viewer</h1>

<form method="get" action="" style="margin-bottom: 20px; display:flex; gap:8px; align-items:center;">
    <input type="text" name="username" placeholder="Search by username" value="{{ selected_user.username|default:"" }}" style="padding:6px; width:250px;">
    <input type="text" name="operator" placeholder="Search by operator" value="{{ selected_operator.id|default:"" }}" style="padding:6px; width:250px;">
    <select name="model" style="padding:6px;">
    <option value="">All Models</option>
    {% for model_value, model_label in historical_models %}
        <option value="{{ model_value }}" {% if selected_model == model_value %}selected{% endif %}>{{ model_label }}</option>
    {% endfor %}
</select>
    <button type="submit" style="padding:6px 12px;">Search</button>
</form>

{% if page_obj %}
{{ selected_operator }}
<h2>History for <a href="{{ page_obj.0.admin_user_url }}">{{ selected_user.username }}</a></h2>
<table class="adminlist">
<thead>
<tr>
  <th>Date</th>
  <th>Action</th>
  <th>User</th>
  <th>Entry Name</th>
  <th>Model</th>
  <th>Details</th>
</tr>
</thead>
<tbody>

{% for entry in page_obj %}
<tr>
  <td>{{ entry.history_date|date:"Y-m-d H:i:s" }}</td>
  <td>{% if entry.history_type  == "+" %}
        Created
        {% elif entry.history_type  == "-" %}
        Deleted
        {% else %}
        Updated
        {% endif %}
  </td>
    <td>
        {% if entry.user_url %}
        <a href="{{ entry.user_url }}">{{ entry.changed_by }}</a>
        {% else %}
        {{ entry.history_user_username|default:"System" }}
        {% endif %}
  </td>
    <td><a href="{{ entry.entry_url }}">{{ entry }}</a></td>
  <td><a href="{{ entry.history_url }}">{{ entry.model_name }}</a></td>
  <td>
      {% if entry.changes %}
      <ul>
        {% for field, old, new in entry.changes %}
        <li><strong>{{ field }}:</strong> "{{ old }}" → "{{ new }}"</li>
        {% endfor %}
      </ul>
      {% else %}
      No field changes recorded
      {% endif %}
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="4">No history found</td>
</tr>
{% endfor %}

</tbody>
</table>

<div class="pagination" style="margin-top: 20px; display:flex; gap:8px; align-items:center;">

    {% if page_obj.has_previous %}
        <a href="?username={{ selected_user.username|default:"" }}&operator={{ selected_operator.id|default:"" }}&model={{ selected_model|default:"" }}&page={{ page_obj.previous_page_number }}">
            Previous
        </a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?username={{ selected_user.username|default:"" }}&operator={{ selected_operator.id|default:"" }}&model={{ selected_model|default:"" }}&page={{ page_obj.next_page_number }}">
            Next
        </a>
    {% endif %}

</div>

{% endif %}

{% endblock %}
