{% extends 'mbtbase.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
{% endblock %}

{% block title %}Vehicle Buying Banned{% endblock %}

{% block content %}
<h2>Vehicle Buying Banned</h2>
<p>Your access to vehicle buying has been revoked.</p>
<p>If you believe this is a mistake, please contact support.</p>
<a href="/tickets/create/">Create a Support Ticket</a> | <a href="mailto:support@mybustimes.cc">Email Support</a>

<br><br>

<a href="/">Back</a>
{% endblock %}