{% extends 'mbtbase.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/narrow.css' %}">
{% endblock %}

{% block title %}Data Sources{% endblock %}

{% block content %}

<h2>Data Sources</h2>

<div class="terms-text">
    <strong>Real-Life Data</strong>
        <p class="terms-sub-text">The liveries and routes are imported from the <a href="https://ukbuses.org/api/">ukbuses.org API</a>.</p><br>

    <strong>User-Generated Content</strong>
        <p class="terms-sub-text">User-generated content, including vehicles, operators, routes, trips, tickets, liveries, vehicle types, history,
        and more, can be accessed via the <a href="/api/">MyBusTimes API</a>.</p><br>

    <strong>Mapping Data</strong>
        <p class="terms-sub-text">For custom maps, we use <a href="https://maplibre.org/">MapLibre GL JS</a> along with <a href="https://www.openstreetmap.org/">OpenStreetMap</a> tile data.</p>
        <ul class="terms-sub-text">
            <li><a href="https://www.openstreetmap.org/">OpenStreetMap</a> – Base data for real-life and simulated route mapping.</li>
            <li><a href="https://maplibre.org/">MapLibre GL JS</a> – Modern, open-source mapping library for rendering high-performance, interactive maps.</li>
        </ul><br>

        <p class="terms-sub-text">Live vehicle data is sourced from <a href="https://ukbuses.org/">ukbuses.org</a>, including the associated livery information for those vehicles.</p><br>

        <p class="terms-sub-text">For custom game maps, we use <a href="https://maplibre.org/">MapLibre GL JS</a> along with tiles provided by the game creators. These tiles can be found on the <a href="/api/game/tiles">MyBusTimes Game Tiles API</a>.</p><br>

        <p class="terms-sub-text">For bus stops, we use the <a href="https://stops.mybustimes.cc/data">MyBusTimes Stops Data API</a>, which provides detailed and regularly updated stop location information.</p>
    <!-- p class="terms-sub-text">We use a custom valhalla server for routing: <a href="https://valhalla.mybustimes.cc">MyBusTimes Valhalla</a>.</p> --><br>

    <strong>Game Data</strong>
        
        <p class="terms-sub-text">Game data such as routes and other game-specific data can be found on the <a href="/api/game/">MyBusTimes Game Data API</a>.</p>
        <p class="terms-sub-text">Game map tiles can be found on the <a href="/api/game/tiles">MyBusTimes Game Tiles API</a>.</p>
    
        <br>

    <strong>Timetable Importing</strong>
    <p class="terms-sub-text">Timetable importing data is scraped from the provided Bustimes.org URL or other forked versions of BusTimes.</p>

</div>
<div class="ad-box" id="body-ad-1"></div>

{% endblock %}
