{% load static %}
{% load meta_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preload" href="{% static 'src/icons/MBT-Logo-Black.webp' %}" as="image" fetchpriority="high">
  <link rel="preload" href="{% static 'css/style.css' %}" as="style">
  <link rel="preload" href="{% static 'css/select2.min.css' %}" as="style">

  <style>
    #nav-menu {
      background-color: var(--brand-color);
      display: none;
      float: right;
      text-align: left;
      padding: 10px 20px;
      margin: 0;
    }

    #nav-menu a {
      color: var(--text-color);
    }

    main {
      width: calc(100% - 24px);
    }
    .in-page-ad {
        width: 100vw;
        margin-left: calc(50% - 50vw);
        text-align: center;
    }

    .top-ad-border {
        border-width: 2px;
        border-color: #7CB5E7;
        border-style: solid;
        border-top: 0;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.63);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.63);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.63);
        display: inline-block;
        background-color: white;
    }

    .ad-box {
      display: block;
    }
  </style>

  <link rel="icon" type="image/png" href="{{ favicon_96x96 }}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ favicon_svg }}" />
  <link rel="shortcut icon" href="{{ favicon_ico }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon_touch }}" />
  <meta name="apple-mobile-web-app-title" content="MyBusTimes" />
  <link rel="manifest" href="{% static 'src/icons/favicon/site.webmanifest' %}" />

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="preload" href="{% static 'css/select2.min.css' %}" as="style" onload="this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}"></noscript>

  <link rel="stylesheet" id="theme-stylesheet" href="https://cdn.mybustimes.cc/mybustimes/media/themes/{{ theme }}">

  {% block extra_css %}{% endblock %}

  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}" defer></script>
  <script src="{% static 'js/service-updates.js' %}" defer></script>

  {% if google_ads_enabled %}
    {% include "extra/adfirst.html" %}
  {% endif %}

  {% if ad_enabled %}
  <style>
    .in-page-ad {
      display: block;
    }
  </style>
  {% else %}
  <style>
    .in-page-ad {
      display: none;
    }
  </style>
  {% endif %}
  {% include "extra/js.html" %}

  {% block extra_js %}{% endblock %}


  <title>
    {% block title %}{% endblock %} - MyBusTimes
  </title>
  {% include "extra/css.html" %}
</head>

{% if silence == True %}
{% include "extra/silence.html" %}
{% else %}


<body>
  <div class="dumb-ass-meta-data">
    <p style="display: none;">
      {% block extra_meta %}{% endblock %}
    </p>
    {% render_meta_tags %}
  </div>
  <header>
    <div class="site-header">
      <a href="/"><img id="logo" src="{{ menuLogo }}" height="45px" alt="My Bus Times Logo" fetchpriority="high"
          decoding="async"></a>
      <button id="menu-toggle"><img id="menu" src="{{ burgerMenuLogo }}" height="35px" alt="Burger Menu Icon"></button>
      <form action="/search">
        <input type="search" name="q" id="q" placeholder="Search" style="text-wrap: nowrap;">
        <input type="submit" value="Search">
      </form>
    </div>
  </header>
  <div id="service-updates-banner">
    <span id="banner-text"></span>
  </div>
  <button id="dismiss-btn" style="float: right;">X</button>
  <main>
    <div style="position: fixed;top: 55px;width: inherit;z-index: 2;">
      <nav id="nav-menu">
        <ul>
          {% if ads_enabled == True %}
          <li
            style="margin: 10px 0;background: var(--background-color);padding: 5px 10px;border: 1px solid var(--border-color-darker);border-radius: 10px;text-align: center;">
            <a href="/account/subscribe">Go Ads Free</a></li>
          {% endif %}
          <li>
            {% if request.user.is_authenticated %}
            <a id="profile" href="/u/{{ request.user.username }}/">My Profile</a>
            {% else %}
            <a id="profile" href="/account/login/">Login</a>
            {% endif %}
          </li>
          {% if user.is_superuser %}
          <li><a href="/api-admin/">Admin API Portal</a></li>
          {% endif %}
          {% if admin %}
          <li><a href="/admin/">Admin Portal</a></li>
          {% endif %}

          <li><a href="/forum/">Forum</a></li>
          <li><a href="/wiki/">Wiki</a></li>
          <li><a id="tracking-profile" href="/map/">Map</a></li>
          <li>
            {% if request.user.is_authenticated %}
            <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
              {% csrf_token %}
            </form>
            <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
    <div class="breadcrumb" style="margin-top: -1.5em;">
      <ol>
        {% for item in breadcrumbs %}
        <li class="{{ item.className|default:'default' }}">
          {% if forloop.last %}
          <a href="{{ item.url }}">
            <span>
              {{ item.name }}</span>
          </a>
          {% else %}
          <a href="{{ item.url }}">
            <span>
              {{ item.name }}</span>
          </a>
          {% endif %}
        </li>
        {% endfor %}
      </ol>
    </div>
    {% if ads_enabled %}
    <div class="top-ad-container in-page-ad" style="position:sticky;top:0px;z-index:101;height:100px;">
      <div id="AFM_top_ad" class="top-ad-border" style="margin:auto;"></div>
    </div>
    {% endif %}
    <div class="content">
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <div class="alert 
                      {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if banned == False  %}
      {% block content %}

      {% endblock content %}
      {% else %}
      <div class="alert alert-danger">
        {% if ip_banned == True %}
        <h2>IP Banned</h2>
        <p>Your IP address has been banned. If you believe this is a mistake, please contact support.</p>
        {% elif user_banned == True %}
        <h2>Account Banned</h2>
        <p>Your account has been banned. If you believe this is a mistake, please contact
          support.<br><br><strong>Reason:</strong><br>{{ ban_reason }}</p>
        {% else %}
        <h2>Banned</h2>
        <p>You have been banned. If you believe this is a mistake, please contact support.</p>
        {% endif %}
        <hr>
        <p>You will be unbanned in: <span id="unban-timer"
            data-unban="{{ unban_date_time|date:'c' }}">{{ unban_date_time }}</span></p>
        <hr>
        <p><a href="mailto:support@mybustimes.cc"
            style="text-align: center;color: #f8d7da;background: #721c24;padding: .5em .5em;border-radius: .25em;margin: 0 auto;display: block;max-width: 150px;">Report
            Issue</a></p>
      </div>
      {% endif %}
    </div>
  </main>

  <footer>
    <div class="ad-box" id="footer-ad-1"></div>
    <hr>
    <ul class="footer-info">
      <li><a href="/about">About</a></li>•
      <li><a href="https://mybustimes.cc/stats">Site Stats</a></li>•
      <li><a href="/report">Bug Report</a></li>•
      <li><a href="/site-updates">Site Updates</a></li>•
      <li><a href="/contact">Contact Us</a></li>

    </ul>
    <hr>
    <ul class="footer-info">
      <li><a href="/a/youtube/">YouTube</a></li>•
      <!-- <li><a href="/tiktok/">TikTok</a></li>• -->
      <li><a href="/a/discord/">Discord</a></li>•
      <li><a href="/a/facebook/">Facebook</a></li>
    </ul>

    {% if ads_enabled == True %}
    <br><br>
    <a href="/account/subscribe" class="subscribe-link">
      <div>
        <h3>! Go Ad Free !</h3>
        <small>Go ad free and help support MBT</small>
      </div>
    </a>
    {% endif %}
    <br>
    <div class="ad-box" id="footer-ad-2"></div>
    <br>
    <label for="theme-selector">Select Theme:</label>
    <select id="theme-selector" name="theme">
      {% for t in all_themes %}
      <option value="{{ t.pk }}" {% if request.user.is_authenticated %}
        {% if t.pk == request.user.theme_id %}selected{% endif %} {% else %}
        {% if t.pk|stringformat:"s" == request.COOKIES.themeID %}selected{% endif %} {% endif %}>{{ t.theme_name }}
      </option>
      {% endfor %}
      {% if google_ads_enabled %}
      {% include "extra/google-extra.html" %}
      {% endif %}
    </select>
    <br>
    <input type="checkbox" id="dark-mode-toggle" name="dark_mode" {% if themeDark == 'True' %}checked{% endif %}><label
      for="dark-mode-toggle">Dark Mode</label>
    <br>
    <ul class="footer-info">
      <li id="users-stats">Online: {{ online_users_count }} | Total: {{ total_users_count }}</li>
    </ul>
    <br>
    <ul class="footer-info">
      <li><a href="https://status.mybustimes.cc/status/mbt">Site Status</a></li>•
      <li><a href="/status">Feature Status</a></li>•
      <li><a href="/patch-notes">Patch Notes</a></li>•
      <li><a href="/data">Data Sources</a></li>
    </ul>
    <hr>
    <ul class="footer-info">
      <li><a href="/rules/#terms">Terms and Conditions</a></li>•
      <li><a href="/rules/#content">User Generated Content</a></li>
    </ul>
    <br>
    <ul class="footer-info">
      <li><a href="/rules/#privacy">Privacy Policy</a></li>•
      <li><a href="/rules/#copyright">Copyright Policy</a></li>•
      <li><a href="/rules/#rules">Ban Policy</a></li>
    </ul>
    </div>
    <p style="margin-top: 30px;">
      Note: MyBusTimes is a fictional and community-run transport database.<br>
      All data shown here is user generated and not real world data.
    </p>
    <br>
    <a href="https://github.com/Kai-codin/MyBusTimes">MyBusTimes</a> © {% now "Y" %} by <a
      href="https://github.com/Kai-codin">KaiCodin</a> is licensed under <a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a><img
      src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt=""
      style="max-width: 1em;max-height:1em;margin-left: .2em;margin-bottom: 0;"><img
      src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt=""
      style="max-width: 1em;max-height:1em;margin-left: .2em;margin-bottom: 0;"><img
      src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt=""
      style="max-width: 1em;max-height:1em;margin-left: .2em;margin-bottom: 0;"><img
      src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt=""
      style="max-width: 1em;max-height:1em;margin-left: .2em;margin-bottom: 0;">
    {% if google_ads_enabled == True %}
    <div class="ad-box-no-auto">
      <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed"
        data-ad-client="ca-pub-8764676296426896" data-ad-slot="2329788431"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    {% endif %}
  </footer>
  <p style="position: absolute;left: 0; background: var(--brand-color);padding: 5px;border-radius: 0px 10px 0px 0px;">
    MyBusTimes: V2.2.2</p>
</body>
{% endif %}